body{
    margin: 0;
    min-height: 100vh;
    perspective: 1200px;
    background-image: linear-gradient(45deg, rgb(6, 0, 18), rgb(104, 144, 237));
    background-repeat: no-repeat;

}
:root{
    --width:300px;
}

.cube-3d{
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: calc(var(--width)/2) calc(var(--width)/2) calc(var(--width)/-2);
    transform:
    translate(calc(var(--width)/-2), calc(var(--width)/-2))
    rotateY(45deg)
    rotateZ(45deg);
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
}

.plane{
    width: var(--width);
    height: var(--width);
    background-color: skyblue;
    position: absolute;
    box-shadow: 0px 0px 10pt 3pt rgb(126, 126, 247);
} 
.front{

    transform: 
    translate(0px , 0px, calc(var(--width)/-2))
    rotateZ(90deg) ;
    /* background-color: rgb(30, 22, 22); */
}

.back{
    transform: translateZ(calc(var(--width)*-1))
     rotateZ(90deg);

    /* background-color: rgb(181, 58, 14); */
}
.left{
    transform:
    translate(calc(var(--width)/-2), 0px)
    translateZ(calc(var(--width)/-2))
    rotateY(90deg);
    /* background-color: rgb(216, 46, 246); */
}
.right{
    transform:
    translate(calc(var(--width)/2), 0px)
    translateZ(calc(var(--width)/-2))
    rotateY(90deg);
    /* background-color: rgb(58, 58, 228); */
}
.top{
    transform:
    translate(0, calc(var(--width)/-2))
    translateZ(calc(var(--width)/-2))
    rotateX(90deg);
    /* background-color: rgb(255, 250, 250); */
}
.bottom{  
    transform:
    translate(0, calc(var(--width)/2))
    translateZ(calc(var(--width)/-2))
    rotateX(90deg);
    /* background-color: rgb(13, 203, 13); */
}
@keyframes rotate {
    from{
        transform:
        translate(calc(var(--width)/-2), calc(var(--width)/-2))
        rotateY(0deg)
        rotateZ(360deg);
    }
    to{
        transform:
        translate(calc(var(--width)/-2), calc(var(--width)/-2))
        rotateY(360deg)
        rotateZ(0deg);
    }
    
}
